.form_Page label{
    font-weight: bold;
    display: flex;
    margin-left: 10vw;
    padding: 0.2rem;
}
.form_Page input{
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
}
.form_Page button{
    margin-top: 15px;
}
.form_Page button:hover{
    color: blue;
}
p{
    margin-left: 70%;
}
p:hover{
    color: blue;
    text-decoration: underline;
}   